[submodule "components/esp32-video"]
	path = composite_video_lvgl/components/esp32-video
	url = https://github.com/ChisBread/esp32-video
[submodule "components/lvgl"]
	path = composite_video_lvgl/components/lvgl
	url = https://github.com/lvgl/lvgl.git
